<div align="center">
<img src="assets/img/burger.png" width="200px" height="150px">
</div>

<ul class = "undevoured_burgers">
  {{#each burgers}}
    <ol>
      {{#if devoured}}
      {{burger_name}}
     {{/if}}
   </ol>
{{/each}}
</ul>

<ul>
  {{#each burgers}}
   <ol>
     {{#unless devoured}}
      {{burger_name}}
      <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        devour

</button>
</li>

     {{/unless}}
  </ol>
  {{/each}}
</ul>




<form class="create-form">

<div align="center">
  <div class="form-group">
    <label for="ca">burger name:</label>
    <input type="text" id="ca" burger_name="burger_name" size="50" width="200">
  </div>
</div>



  <button type="submit">Add burger</button>
</form>
